body {
    height: 100%;
    background-color: #F6F4EB;
}

nav {
    margin-left: 10%;
    background-color: #4682A9;
}

nav a {
    color: #F4F2DE;
}

nav button {
    color: #F4F2DE;
    outline: #4682A9;
}